body {
  /* display: flex; */
  /* font-family: "Apple SD Gothic Neo", sans-serif; */
  margin: 0;
  justify-content: center;
}

.container,
.banner,
.button-container {
  display: flex;
  align-items: center;
}

.container {
  justify-content: center;
}

.banner {
  justify-content: space-between;
  height: 100%;
  width: 1024px;
  margin: auto;
}

.button-container {
  justify-content: left;
  gap: 10px;
  padding: 10px 0;
}

.header-inline {
  height: 40px;
  width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  margin: 0 auto;
}

header nav {
  font-size: 18px;
  font-weight: 700;
  color: #4d5159;
  padding: 0 40px 0 0;
  margin-right: auto;
}

header ul {
  display: flex;
}

header li {
  list-style: none;
  color: #4d5159;
  padding: 0 15px;
}

header li:hover {
  color: #6a6f77;
}

header input {
  background-color: #f2f3f6;
  width: 244px;
  font-size: 16px;
  padding: 9px 12px;
  border: none;
  border-radius: 6px;
}

header button {
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #d1d3d8;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 0 0 0 12px;
}

header button:hover {
  background-color: #f2f3f6;
  color: #6a6f77;
}

section#main {
  height: 760px;
  background-color: #fffae0;
}

section#main h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 73px;
}

section#main p {
  font-size: 20px;
  font-weight: 400;
  color: #7c7c7c;
  line-height: 30px;
}

section#main.container {
  justify-content: left;
}

section#main button {
  width: 180px;
  height: 56px;
  border: none;
  border-radius: 10px;
  background-color: #ff6f0f;
  padding: 14px 20px;
}

section#main button p {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding-left: 8px;
}

#main-img {
  margin-right: -84px;
}
